{
  "presets": [
    ["@babel/env", {
      "targets": {"node": "8.12"}
    }],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": false}]
  ]
}
