@mixin body-darker($bool) {
  @if $bool == true {
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 9999;
  }
}

.modal-layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(51, 51, 51, 0.2);
  transition: all 0.25s ease;
  transform: scale(0);
  .modal {
    position: fixed;
    max-height: 250px;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border-radius: 20px;
    animation: move_down 1s ease 1;
    opacity: 1;
    border: 1px solid #333;
    background-color: white;
    font-size: 20px;
    z-index: 999999;
    overflow: hidden;
    transition: 0.5s ease; 
    .option {
      margin: 1% 2px;
      display: flex;
      cursor: pointer;
      flex-direction: row-reverse;
      height: 90%;
    }
    .body {
      max-height: 200px;
      overflow-y: auto;
      padding: 10px 10px;
    }
    .body::-webkit-scrollbar {
      width: 2px;
      background-color: #F5F5F5;
    }
    .body::-webkit-scrollbar-track {
      background-color: #F5F5F5;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      border-radius: 10px;
    }
    .body::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #333;
    }
    .body:hover::-webkit-scrollbar {
      width: 5px;
    }
    .modal-playlist-item {
      display: flex;
      cursor: pointer;
      position: relative;
      margin: 4px 4px;

      align-items: center;
      img {
        height: 40px;
        padding: 5px 5px;
      }
      p {
        display: flex;
        align-items: center;
        margin-left: 10px;
      }
      .add-list {
        margin-left: auto;
        margin-right: 10px;
      }
      .added {
        color: #1766f7;
      }
    }
    .modal-playlist-item:before, .modal-playlist-item:after {
      content: '';
      background: transparent;
      width: 0;
      height: 0;
      position: absolute;
      border-color: transparent;
    }
    .modal-playlist-item:before {
      top: 0;
      border-top: 1px solid;
      border-left: 1px solid;
      transition: height 0.5s ease, width 0.5s ease 0.5s, border-color 0.5s ease;
    }
    .modal-playlist-item:after {
      bottom: 0;
      right: 0;
      border-bottom: 1px solid;
      border-right: 1px solid;
      transition: height 0.5s ease, width 0.5s ease 0.5s, border-color 0.5s ease;
    }
    .modal-playlist-item:hover img {
      animation: bounce_bounce 1.5s infinite ease;
    }
    .modal-playlist-item:hover:before,
    .modal-playlist-item:hover:after{
      width: 100%;
      height: 100%;
      border-color: #11abe6;
    }
  }
  .modal.close {
    top: 150%;
    opacity: 0;
  }
}

.modal-isOpen {
  transform: scale(1);
  z-index: 999;
}

@keyframes move_down {
  0% {
    top: -50%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

@media only screen and (max-width: 400px) {
  .modal-layer .modal {
    width: 100%;
  }
}
