@mixin body-darker($bool) {
  @if $bool == true {
    background-color: rgba(51, 51, 51, 0.5);
    z-index: 9999;
  }
}

.modal-layer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(51, 51, 51, 0.2);
  transition: all 0.5s ease;
  transform: scale(0);
  .modal {
    position: fixed;
    max-height: 250px;
    width: 300px;
    top: 40%;
    right: 40%;
    border-radius: 20px;
    border: 1px solid #333;
    background-color: white;
    font-size: 20px;
    z-index: 999999;
    overflow: hidden;
    .option {
      margin: 1% 2px;
      display: flex;
      cursor: pointer;
      flex-direction: row-reverse;
      height: 90%;
    }
    .body {
      max-height: 200px;
      overflow-y: auto;
      padding: 10px 10px;
    }
    .body::-webkit-scrollbar {
      width: 2px;
      background-color: #F5F5F5;
    }
    .body::-webkit-scrollbar-track {
      background-color: #F5F5F5;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
      border-radius: 10px;
    }
    .body::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #333;
    }
    .body:hover::-webkit-scrollbar {
      width: 5px;
    }
  }
}

.modal-isOpen {
  transform: scale(1);
  z-index: 999;
  // :before {
  //   content: '';
  //   position: fixed;
  //   height: 100vh;
  //   width: 100vw;
  //   top:-50%; left: 0;
  //   @include body-darker(true);
  // }
}
