@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  font-family: 'Barlow Condensed', sans-serif;
  .main-page {
    height: 100vh;
  }
  .main-body {
    width: 80%;
    margin: 50px auto 0px auto;
    background-color: white;
    padding: 10px;
  }
}
.main-body {
  position: relative;
}