$float-position-top: 40px;
$float-position-left: 20px;
.float-music {
  // position: fixed;
  // z-index: 99;
  .fab-music {
    transition: all 0.5s ease;
    position: absolute;
    position: fixed;
    z-index: 99;
    bottom: $float-position-top;
    left: $float-position-left;
    background-color: white;
    border: 5px solid #0089ff;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
    }
  }
  .fab-music.expand {
    width: 100vw;
    left: 0 !important;
    bottom: 0;
    padding:0 20px;
    border-radius: 0px;
    .expand-holder {
      display: flex;
      width:100%;
    }
    .song-details {
      flex-grow: 1;
      display: flex;
      align-items: center;
      .song-image {
        width: 50px;
        height: 50px;
        background-color: black;
        flex-grow: 1;
      }
      h2 {
        flex-grow: 1;
        text-align: center;
        a {
          text-decoration: none;
          color: #333;
        }
      }
    }
    .options {
      flex-grow: 2;
      display: flex;
      align-items: center;
      .buttons {
        flex: 2 1 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          background-color: transparent;
          border: none;
          padding: 0 20px;
          outline: none;
          transform: scale(1.5);
          cursor: pointer;
        }
      }
      .seek-bar {
        height: 5px;
        flex: 5 1;
        background-color: gray;
        cursor: pointer;
        display: flex;
        align-items: center;
        .fill {
          height: 5px;
          background-color: royalblue;
          border-radius: 20px;
        }
        .handle {
          width: 8px;
          height: 8px;
          background-color: royalblue;
          border-radius: 50%;
          margin-left: -5px;
          transform: scale(2);
        }
      }
      .playlist {
        flex: 1 1;
        display: flex;
        justify-content: center;
        .box-list {
          background-color: white;
          border: 1px solid black;
          width: 20vw;
          height: 200px;
          position: absolute;
          top: -200px;
          right: 5%;
          // text-align: center;
          .list {
            max-height: 200px;
            overflow-y: auto;
            .box-create {
              border: 1px dashed #333;
              height: 50px;
              margin: 5px 5%;
              width: 90%;
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                font-size: 20px;
                flex-basis: 10%;
                margin: 0 5px;
              }
              p {
                flex-basis: 90%;
              }
            }
            .list-option {
              height: 50px;
              margin: 5px 0;
              display: flex;
              flex-flow: column;
              input {
                height: 25px;
                width: 90%;
                margin-left: 10px;
              }
              .list-buttons {
                margin-top: 5px;
                text-align: center;
                button {
                  border-radius: 2px;
                  border-width: 0.6px;
                  border-style: solid;
                  background-color: transparent;
                  padding: 2px 5px;
                  font-size: 16px;
                  cursor: pointer;
                }
                button:nth-child(1) {
                  border-color: green;
                  color: green;
                  margin-right: 5px;
                }
                button:nth-child(2) {
                  border-color: red;
                  color: red;
                }
              }
            }
          }
          .list::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            border-radius: 10px;
            background-color: #F5F5F5;
          }
          .list::-webkit-scrollbar {
            width: 2px;
            background-color: #F5F5F5;
          }
          .list::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
            background-image: linear-gradient(rgba(0, 137, 255, 0.47058823529411764), rgba(153, 236, 255, 0.2784313725490196));
          }
          .list:hover::-webkit-scrollbar {
            width: 5px;
          }
          .list-item {
            display: flex;
            height: 50px;
            .list-info {
              display: flex;
              flex-basis: 90%;
            }
            .disc-container {
              flex: 1 1;
              font-size: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;
            }
            .disc {
              // background-image: url('/image/playlist.png');
              // background-size: contain;
              // background-repeat: no-repeat;

              border-radius: 50%;
              animation: disc_rotate 2s infinite linear;
            }
            .info {
              flex: 3 1;
              display: flex;
              align-items: center;
              p {
                font-size: 20px;
              }
            }
            .remove {
              align-self: center;
              flex-basis: 10%;
            }
          }
          .header {
            border-bottom: 1px solid black;
            height: 20px;
            .play-all {
              float: right;
              margin: 2px;
            }
          }
          .song-item {
            display: flex;
            margin: 5px;
            .song-info {
              height: 50px;
              flex-basis: 90%;
              display: flex;
              .poster {
                // background-size: contain;
                // background-repeat: no-repeat;
                width: 50px;
              }
              .info {
                flex: 3 1;
                display: flex;
                align-self: center;
                .song-name {
                  margin: auto;
                }
              }
            }
            .remove {
              flex-basis: 10%;
              align-self: center;
            }
          }
        }
        .box-list:after,
        .box-list:before {
          content: '';
          position: absolute;
          left: 0px;
          bottom: -25px;
          left: 75%;
          width: 0;
          height: 0;
          border-style: solid;
        }
        .box-list:after {
          bottom: -20px;
          left: 76%;
          border-color: white transparent transparent transparent;
          border-width: 10px;
        }
        .box-list:before {
          border-color: black transparent transparent transparent;
          border-width: 12px;
        }
        .boxlist > .list {
          overflow-y: auto;
        }
      }
      .close {
        flex: 1 1;
        display: flex;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

@keyframes disc_rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  .float-music {
    .fab-music.expand {
      height: 100vh;
      .expand-holder {
        display: block;
        .song-details {
          flex-direction: column;
          margin-bottom: 20px;
        }
        .options {
          display: block;
          .button, .seek-bar, .play-list, .close {
            margin: 20px 0;
          }
          .playlist {
            .box-list {
              top: 60vh;
              left: 0px;
              width: 100vw;
              height: 40vh;
            }
          }
        }
      }
    }
  }
}
