.notification {
    width: 400px;
    height: 100px;
    background-color: white;
    position: fixed;
    z-index: 9999;
    top: 100px;
    // right: -410px;
    box-sizing: border-box;
    transition: right 0.5s ease-in;
    border: 2px solid #0089ff;
    p {
        font-size: 20px;
        margin: 10px;
    }
    .status-bar {
        height: 5px;
        position: absolute;
        overflow: hidden;
        bottom: 0;
        width: 100%;
        .bar {
            background-image: linear-gradient(to right, rgba(42,176,237,1) 0%,rgba(191,232,249,1) 50%,rgba(228,245,252,1) 100%);
            width: 50%;
            height: 100%;
            position: absolute;
            right: -50%;
            animation: status_bar_run 0.75s linear infinite;
        }
    }
}

@keyframes status_bar_run {
    0% {
        right: -50%;
    }
    25% {
        right: 0%;
    }
    50% {
        right: 50%;
    }
    100% {
        right: 100%;
    }
}