.home-page {
  display: flex;
  .main {
    width: 65%;
    .new-song {
      // background-color: red;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      .title {
        flex: none;
        width: 100%;
        margin-bottom: 20px;
        cursor: pointer;
        color: #00a7e6;
        h1 {
          font-weight: 100;
          font-size: 30px;
          display: flex;
          align-items: center;
          span {
            font-size: 15px;
            margin-top: 5px;
            margin-right: 15px;
            animation: finger_pointing 1s linear infinite;
          }
        }
      }
      .new-song-item {
        background-color: white;
        margin: 0px auto 5px auto;
        cursor: pointer;
        // position: relative;
        font-size: 25px;
        font-weight: 200;
        padding: 2px 0;
        // flex-basis: 21%;
      }
      .modal-playlist-item {
        display: flex;
        cursor: pointer;
        position: relative;
        margin: 4px 4px;

        align-items: center;
        img {
          height: 40px;
          padding: 5px 5px;
        }
        p {
          display: flex;
          align-items: center;
          margin-left: 10px;
        }
        .add-list {
          margin-left: auto;
          margin-right: 10px;
        }
        .added {
          color: #1766f7;
        }
      }
      .modal-playlist-item:before, .modal-playlist-item:after {
        content: '';
        background: transparent;
        width: 0;
        height: 0;
        position: absolute;
        border-color: transparent;
      }
      .modal-playlist-item:before {
        top: 0;
        border-top: 1px solid;
        border-left: 1px solid;
        transition: height 0.5s ease, width 0.5s ease 0.5s, border-color 0.5s ease;
      }
      .modal-playlist-item:after {
        bottom: 0;
        right: 0;
        border-bottom: 1px solid;
        border-right: 1px solid;
        transition: height 0.5s ease, width 0.5s ease 0.5s, border-color 0.5s ease;
      }
      .modal-playlist-item:hover img {
        animation: bounce_bounce 1.5s infinite ease;
      }
      .modal-playlist-item:hover:before,
      .modal-playlist-item:hover:after{
        width: 100%;
        height: 100%;
        border-color: #11abe6;
      }
    }
  }
  .hightlight {
    background-color: black;
    width: 35%;
    padding-left: 20px;
  }
}

@keyframes finger_pointing {
  0% {
    transform: translate(0px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(15px, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes bounce_bounce {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-12px) scale(0.8);
  }
  90% {
    transform: translateY(1px) scale(1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@media only screen and (min-width: 1326px) {
  .home-page .main .new-song .new-song-item {
    max-width: 210px;
  }
}

@media only screen and (max-width: 992px) {
  .home-page .main .new-song .new-song-item {
    flex-basis: 29%;
  }
}

@media only screen and (max-width: 905px)  {
  .home-page .main .new-song .new-song-item {
    flex-basis: 45%;
    // flex-grow: 1;
  }
}

@media only  screen and (max-width: 525px) {
  .home-page .main .new-song .new-song-item {
    flex-basis: 100%;
    // flex-grow: 1;
  }
}
