.home-page {
  display: flex;
  height: 1000px;
  .main {
    width: 65%;
    .new-song {
      // background-color: red;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      .title {
        flex: none;
        width: 100%;
        margin-bottom: 20px;
        cursor: pointer;
        color: #00a7e6;
        h1 {
          font-weight: 100;
          font-size: 30px;
          display: flex;
          align-items: center;
          span {
            font-size: 15px;
            margin-top: 5px;
            margin-right: 15px;
            animation: finger_pointing 1s linear infinite;
          }
        }
      }
      .new-song-item {
        // overflow: hidden;
        // max-height: 170px;
        background-color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        // position: relative;
        font-size: 25px;
        // height: 200px;
        font-weight: 200;
        padding: 2px 0;
        // max-width: 150px;
        flex-basis: 21%;
        // flex: 1 1 21%;
      }
      .item {
        transition: all 0.5s ease;
        a {
          text-decoration: none;
          color: black;
        }
        .poster {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-size: contain;
          max-height: 150px;
          min-height: 150px;
          .play-icon, .detail-icon {
            position: absolute;
            color: white;
            transform: scale(2);
            z-index: 1;
            opacity: 0;
            transition: opacity 0.5s ease;
          }
          .detail-icon {
            top: 0;
            right: 0;
            transform: scale(0.8);
          }
          .item-detail {
            background-color: white;
            position: absolute;
            right: -50%;
            top: 0;
            z-index: 2;
            font-size: 20px;
          }
        }
        .poster:before {
          content: '';
          background-color: rgba(51, 51, 51, 0.6);
          height: 100%;
          width: 100%;
          max-height: 200px;
          max-width: 200px;
          position: absolute;
          z-index: 1;
          transition: 0.5s ease;
          opacity: 0;
        }
        h3 {
          text-align: center;
          font-size: 16px;
        }
        .describe {
          padding: 5px 0;
          overflow-wrap: break-word;
        }
        .invi-desc {
          position: absolute;
          bottom: -10px;
          max-height: 0px;
          overflow: hidden;
          background-color: white;
          width: 100%;
          z-index: 2;
          h3 {
            padding: 2px 0;
          }
          .item-options {
            font-size: 14px;
            text-align: center;
            .add-playlist {
              margin-right: 10px;
            }
            .heart {
            }
          }
        }
      }
      .item:hover {
        transform: translate(0, -10px);
        // max-height: 300px;
        // height: 200px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
      }
      .item:hover .invi-desc{
        max-height: 40px;
      }
      .item:hover .poster:before,
      .item:hover .play-icon,
      .item:hover .detail-icon {
        opacity: 1;
      }
      .modal-playlist-item {
        display: flex;
        cursor: pointer;
        position: relative;
        margin: 4px 4px;

        align-items: center;
        img {
          height: 40px;
          padding: 5px 5px;
        }
        p {
          display: flex;
          align-items: center;
          margin-left: 10px;
        }
        .add-list {
          margin-left: auto;
          margin-right: 10px;
        }
        .added {
          color: #1766f7;
        }
      }
      .modal-playlist-item:before, .modal-playlist-item:after {
        content: '';
        background: transparent;
        width: 0;
        height: 0;
        position: absolute;
        border-color: transparent;
      }
      .modal-playlist-item:before {
        top: 0;
        border-top: 1px solid;
        border-left: 1px solid;
        transition: height 0.5s ease, width 0.5s ease 0.5s, border-color 0.5s ease;
      }
      .modal-playlist-item:after {
        bottom: 0;
        right: 0;
        border-bottom: 1px solid;
        border-right: 1px solid;
        transition: height 0.5s ease, width 0.5s ease 0.5s, border-color 0.5s ease;
      }
      .modal-playlist-item:hover img {
        animation: bounce_bounce 1.5s infinite ease;
      }
      .modal-playlist-item:hover:before,
      .modal-playlist-item:hover:after{
        width: 100%;
        height: 100%;
        border-color: #11abe6;
      }
    }
  }
  .hightlight {
    background-color: black;
    width: 35%;
    padding-left: 20px;
  }
}

@keyframes finger_pointing {
  0% {
    transform: translate(0px, 0);
    opacity: 1;
  }
  50% {
    transform: translate(15px, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate(0,0);
    opacity: 1;
  }
}

@keyframes bounce_bounce {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-12px) scale(0.8);
  }
  90% {
    transform: translateY(1px) scale(1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

// @media screen and (max-width: 992px){
//   .home-page {
//     .main {
//       .new-song {
//         .item {
//           max-width: 150px;
//         }
//       }
//     }
//   }
// }
//
// @media screen and (max-width: 600px) {
//   .home-page {
//     .main {
//       .new-song {
//         .item {
//           max-width: 200px;
//         }
//       }
//     }
//   }
// }
