.item {
  transition: all 0.5s ease;
  a {
    text-decoration: none;
    color: black;
  }
  .poster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    max-height: 150px;
    min-height: 150px;
    .play-icon, .detail-icon {
      position: absolute;
      color: white;
      transform: scale(2);
      z-index: 1;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
    .detail-icon {
      top: 0;
      right: 0;
      transform: scale(0.8);
    }
    .item-detail {
      background-color: white;
      position: absolute;
      right: -50%;
      top: 0;
      z-index: 2;
      font-size: 20px;
    }
  }
  .poster:before {
    content: '';
    background-color: rgba(51, 51, 51, 0.6);
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
    position: absolute;
    z-index: 1;
    transition: 0.5s ease;
    opacity: 0;
  }
  h3 {
    text-align: center;
    font-size: 16px;
  }
  .describe {
    padding: 5px 0;
    overflow-wrap: break-word;
  }
  .invi-desc {
    position: absolute;
    bottom: -10px;
    max-height: 0px;
    overflow: hidden;
    background-color: white;
    width: 100%;
    z-index: 2;
    h3 {
      padding: 2px 0;
    }
    .item-options {
      font-size: 14px;
      text-align: center;
      .add-playlist {
        margin-right: 10px;
      }
      .heart {
      }
    }
  }
}
