.box-music {
  transition: all 0.5s ease;
  a {
    text-decoration: none;
    color: black;
  }
  .poster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 210px;
    img {
      width: 160px;
    }
    .play-icon, .detail-icon {
      position: absolute;
      color: white;
      transform: scale(2);
      z-index: 1;
      opacity: 0;
      transition: 0.5s ease;
      cursor: pointer;
    }
    .detail-icon {
      top: 0;
      right: 0;
      transform: scale(0.8);
    }
    .box-music-detail {
      background-color: white;
      position: absolute;
      right: -50%;
      top: 0;
      z-index: 2;
      font-size: 20px;
    }
    .song-loading {
      background-image: url('/image/Pacman-loading.gif');
      background-size: contain;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      position: absolute;
      display: none;
    }
  }
  .poster:before {
    content: '';
    background-color: rgba(51, 51, 51, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: 0.5s ease;
    opacity: 0;
  }
  h3 {
    text-align: center;
    font-size: 16px;
  }
  .describe {
    padding: 5px 0;
    overflow-wrap: break-word;
  }
  .invi-desc {
    position: relative;
    bottom: 5px;
    max-height: 40px;
    overflow: hidden;
    background-color: white;
    width: 100%;
    z-index: 2;
    opacity: 0;
    h3 {
      padding: 2px 0;
    }
    .box-music-options {
      font-size: 14px;
      text-align: center;
      .add-playlist {
        margin-right: 10px;
        cursor: pointer;
      }
      // .heart {
      // }
    }
  }
}
.box-music-hover:hover {
  transform: translate(0, -10px);
  // max-height: 300px;
  // height: 200px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.box-music-hover:hover .invi-desc{
  max-height: 40px;
  opacity: 1;
}
.box-music-hover:hover .poster:before,
.box-music-hover:hover .play-icon,
.box-music-hover:hover .detail-icon {
  opacity: 1;
}
.csssdf {
  color: blue;
}